body {
  font-family: sans-serif;
}

h1 {
  margin: 0 0 10px;
}

input, button {
  display: block;
  margin: 5px 0;
}

button {
  background: white;
}

pre {
  white-space: pre-wrap;
  margin-top: 10px;
}
